<script
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>


<style>
.Color {
	color: green
}

.redColor {
	color: red
}

.state-success .form-control {
	border-color: rgb(221, 216, 216) !important;
}

.state-success input,.state-success select,.state-success textarea {
	background: none !important;
}

fieldset.scheduler-border {
	border: 1px groove !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
	border-color: #darkgrey;
}

legend.scheduler-border {
	font-size: 1.0em !important;
	text-align: left !important;
	width: inherit;
	padding: 0 10px;
	border-bottom: none;
	color: darkgray;
}



.btn-success-custom {
color: white;
background-color: #21205f;
}

.btn-success-custom:hover {
color: white;
background-color: #999999;
}
</style>

<div class="row">
	<div class="col-lg-12">
		<div class="portlet box">
			<div class="portlet-header">
				<div class="caption">My Profile</div>
				<div class="col-md-12">
					<small><strong>Please fill out the following
							information to complete your user profile for the Ardent
							Principles Jobs Portal. Your information will be used to present
							potential job opportunities to you that align with your profile
							selections as well as expedite the resume building process.</strong> </small>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row mbm">
					<div class="col-lg-12">



						<div id="page-user-profile" class="row" ng-init="init();">

							<div class="row ng-scope">
								<div class="col-lg-12">
									<div class="portlet box portlet-blue">
										<!-- <div class="portlet-header">
					<div class="caption">My Profile</div>
					<div class="tools">
						<i class="fa fa-chevron-up"></i><i data-toggle="modal"
							data-target="#modal-config" class="fa fa-cog"></i><i
							class="fa fa-refresh"></i><i class="fa fa-times"></i>
					</div>
				</div> -->
										<div class="portlet-body">
											<form name="userProfileform" id="userProfileform"
												class="form-horizontal ng-pristine ng-valid">
												<div class="row">

													
													<div class="col-md-12">
														<div class="">
															<label class="col-md-4">First Name <code>*</code></label> <label
																class="col-md-4">&nbsp;Middle Initial <code>*</code> </label> <label
																class="col-md-4">&nbsp;Last Name <code>*</code></label>
														</div>
														<div class="form-group">
															<div class="col-md-4">
															
																<input type="text" id="firstname" name="firstname"
																	ng-model="userDetails.firstname"
																	placeholder="Enter First Name" style="font-size: 12px;"
																	class="form-control" required>
															</div>
															<div class="col-md-4">
																<input type="text" id="middlename" name="middlename"
																	ng-model="userDetails.middlename"
																	placeholder="Enter Mid Name" style="font-size: 12px;"
																	class="form-control" maxlength="2">
															</div>
															<div class="col-md-4">
																<input type="text" id="lastname" name="lastname"
																	ng-model="userDetails.lastname"
																	placeholder="Enter Last Name" style="font-size: 12px;"
																	class="form-control" required>
															</div>
														</div>

													</div>
											

													<div class="col-md-12">
														<div class="">
															<label class="col-md-4">Email Addess <code>*</code></label> <label
																class="col-md-4">Alternate Email Address
															</label> <label class="col-md-4">&nbsp;&nbsp;Phone
																Number <code>*</code> </label>

														</div>
														<div class="form-group">
															<div class="col-md-4">
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="fa fa-envelope"></i></span> <input type="email"
																		placeholder="Email Address" name="email"
																		ng-model="userDetails.email" id="email"
																		class="form-control" style="font-size: 12px;" required>
																</div>
															</div>
															<div class="col-md-4">
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="fa fa-envelope"></i></span> <input type="text"
																		id="altemail" name="altemail"
																		ng-model="userDetails.altemail"
																		placeholder="Enter Alternate Email"
																		style="font-size: 12px;" class="form-control">
																</div>
															</div>
															<div class="col-md-4">
															<!-- <span ng-if="phnumberError =true"> <code>Please enter phone number</code></span> -->
																<input type="text" id="phnumber" name="phnumber"
																	ng-model="userDetails.phnumber"
																	placeholder="Enter phone Number" style="font-size: 12px;"
																	class="form-control" min="7" maxlength="10" required>
															</div>
														</div>

													</div>

													<div class="col-md-12">
														<div class="">
															<label class="col-md-4">Alternate Phone Number </label> <label
																class="col-md-4">Job
																Search Status <code>*</code>  <span ng-if="jobsearchstatusError == true"><code>(please fill)</code></span></label> <label class="col-md-4"
																>&nbsp;&nbsp;Current Job Title <code>*</code> </label>

														</div>
														<div class="form-group">
															<div class="col-md-4">
																<input type="text" id="altphnumber" name="altphnumber"
																	ng-model="userDetails.altphnumber"
																	placeholder="Enter alternate  phone Number "
																	style="font-size: 12px;" class="form-control" min="7"
																	maxlength="10">
															</div>
															<div class="col-md-4">
																<!-- <input type="text" id="jobsearchstatus" name="jobsearchstatus"
																	ng-model="userDetails.jobsearchstatus"
																	placeholder="Job Search Status" style="font-size: 12px;"
																	class="form-control" required> -->
														 
																<select ng-model="userDetails.jobsearchstatus"
																	ng-change="onJobSearchStatusChange()"
																	class="form-control" id="jobsearchstatus" ng-required>
																	<option
																		ng-selected="clr.statusName == userDetails.jobsearchstatus"
																		ng-repeat="clr in allJobSearchStatus">{{clr.statusName}}</option>
																</select>
															</div>
															<div class="col-md-4">
														<!-- <span ng-if="currentjobtitleError == true">	<code>please  enter current job title</code> </span> -->
																<input type="text" id="currentjobtitle"
																	name="currentjobtitle"
																	ng-model="userDetails.currentjobtitle"
																	placeholder="Current Job Title"
																	style="font-size: 12px;" class="form-control" required>
															</div>
														</div>

													</div>

													<div class="col-md-12">
														<div class="">
															<label class="col-md-4">Resident City <code>*</code></label> <label
																class="col-md-4">Resident State <code>*</code>  &nbsp;&nbsp;<span ng-if="residentStateError == true"><code>(Please fill)</code></span></label> <label
																class="col-md-4">&nbsp;&nbsp;Resident Zip Code <code>*</code> </label>

														</div>
														<div class="form-group">
															<div class="col-md-4">
														<!-- 	<span ng-if="residentcityError == true"><code>Please  enter  resident city</code></span> -->
																<input type="text" id="residentcity" name="residentcity"
																	ng-model="userDetails.residentcity"
																	placeholder="Resident City " style="font-size: 12px;"
																	class="form-control" required>

																
															</div>
															<div class="col-md-4">
																<!-- <input type="text" id="residentState" name="residentState"
																	ng-model="userDetails.residentState"
																	placeholder="Resident State" style="font-size: 12px;"
																	class="form-control" required> -->
																

																<select id="residentState"
																	ng-model="userDetails.residentState"
																	ng-change="onStatesChange()" class="form-control"
																	ng-required>
																	<option
																		ng-selected="clr.stateName == userDetails.residentState"
																		ng-repeat="clr in allStates">{{clr.stateName}}</option>
																</select>
															</div>
															<div class="col-md-4">
															<!-- <span ng-if="zipcodeError == true"><code>Please  Enter zipcode</code> </span> -->
																<input type="text" id="zipcode" name="zipcode"
																	ng-model="userDetails.zipcode"
																	placeholder="Enter zipcode " style="font-size: 12px;"
																	class="form-control" maxlength="6" required>
															</div>
														</div>

													</div>

													<div class="col-md-12">
														<div class="">
															<label class="col-md-4">Date Of Birth <code>*</code></label> <label
																class="col-md-4">Desired Salary <code>* </code></label> <label
																class="col-md-4">&nbsp;&nbsp;Willing to Relocate <code>*</code>&nbsp;&nbsp;<span ng-if="willingtorelocateError == true"> <code>(Please fill)</code></span></label>
														</div>
														<div class="form-group">
															<div class="col-md-4">
																<div class="">
																	<div class="">
																		<div class="input-group">
																			<input type="text" ng-model="userDetails.dob"
																				name="dob" class="form-control " id="dob"
																				ng-click="initempDatepicker();"
																				style="font-size: 12px;" required>
																			<div class="input-group-addon">
																				<i class="fa fa-calendar"></i>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-md-4">
																<input type="text" id="desiredsalary"
																	name="desiredsalary"
																	ng-model="userDetails.desiredsalary"
																	placeholder="Desired Salary " style="font-size: 12px;"
																	class="form-control" required>
															</div>
															<div class="col-md-4">
																<!-- <input type="text" id="willingtorelocate" name="willingtorelocate"
																	ng-model="userDetails.willingtorelocate"
																	placeholder="Willing to Relocate" style="font-size: 12px;"
																	class="form-control" required> -->
																	
																<select ng-model="userDetails.willingtorelocate"
																	class="form-control" id="willingtorelocate" required>
																	<option
																		ng-selected="'Yes' == userDetails.willingtorelocate">Yes</option>
																	<option
																		ng-selected="'No' == userDetails.willingtorelocate">No</option>
																</select>
															</div>
														</div>

													</div>

													<div class="col-md-6">
														<!-- <div class="">
															<label class="">Email Address *</label>
														</div>
														<div class="form-group">
															<div class="col-md-9">
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="fa fa-envelope"></i></span> <input type="email"
																		placeholder="Email Address" name="email"
																		ng-model="userDetails.email" id="email"
																		class="form-control" style="font-size: 12px;" required>
																</div>
															</div>
														</div> -->

														<div class="">
															<label class="">User Security Clearance Level <code>*</code> &nbsp;&nbsp;<span class="" ng-if="cleranceUError == true"><small><code>(Please fill)</code></small></span></label><br />
															<!-- <label class=""><small><strong>You
																		can select multiple security Clearance(use Ctrl)</strong></small></label>
 -->
														</div>
														<div class="form-group">
															<!-- <label class="col-md-3 control-label"></label> -->
															<div class="col-md-9">
																<select  name="userClearance"
																	ng-model="userClearance" class="form-control">
																	<option ng-repeat="clear in allCleanrance.clearance"
																		value="{{clear.clearance}}"
																		ng-selected="clear.isSelect  == true"
																		style="font-size: 12px;" required>{{clear.clearance}}</option>
																</select>
															</div>

															

														</div>
														<div class="">
															<label class="">Select Experience Level  <code>*</code> &nbsp;&nbsp;
															<span class="" ng-if="expUError == true"><small><code>(Please
																		fill)</code></small></span>
																&nbsp;&nbsp;<i class="glyphicon glyphicon-question-sign"
																data-toggle="tooltip" data-placement="bottom"
																title="Click to view Skill level Instruction"ng-click="showKeyInstruction();" ></i>
															</label><br /> <label class=""><small><strong>Click
																		on the tool tip to see the experience level key</strong></small> </label>

														</div>
														<div class="form-group">
															<!-- <label class="col-md-3 control-label"></label> -->
															<div class="col-md-9">
																<select name="userExperience" ng-model="userExperience"
																	class="form-control">
																	<option ng-repeat="exp in allExperiance.experiance"
																		value="{{exp.experianceLevel}}"
																		ng-selected="exp.isSelect  == true"
																		style="font-size: 12px;" required>{{exp.experianceLevel}}
																	</option>
																</select>
															</div>

															
														</div>

													</div>
													<div class="col-md-6">

														<!-- <div class="">
															<label class="">Date of Birth *</label>
														</div>
														<div class="form-group">
															<div class="col-md-9">
																<label class="col-md-3 control-label">Date of
																	Birth *</label>
																<div class="input-group">
																	<input type="text" ng-model="userDetails.dob"
																		name="dob" class="form-control " id="dob"
																		ng-click="initempDatepicker();"
																		style="font-size: 12px;" required>
																	<div class="input-group-addon">
																		<i class="fa fa-calendar"></i>
																	</div>
																</div>
															</div>
														</div> -->
														<div class="">
															<label class="">Position(s)/Title(s) of interest
																<code>*</code>  &nbsp;&nbsp; <span class="" ng-if="positionUError == true"><small><code>(Please
																		fill) </code></small></span> </label><br /> <label class=""><small><strong>You
																		can select multiple Position(use Ctrl) </strong></small></label>

														</div>
														<div class="form-group">
															<!-- <label class="col-md-3 control-label">User
																Position/Title *</label> -->
															<div class="col-md-9">
															
																<select multiple="multiple" name="userposition"
																	ng-model="userPosition" class="form-control">
																	<option ng-repeat="posi in allPosition.position"
																		value="{{posi.position}}"
																		ng-selected="posi.isSelected  == true"
																		style="font-size: 12px;" required>{{posi.position}}</option>
																</select>
															</div>

														

														</div>
													</div>


													<!-- <div class="col-md-12 ">
														<hr class="mtxxl mbxxl">
														<div class="col-md-6">
															<label>User Key Skill Area * </label>
														</div>
													</div> -->

													<div class="col-md-12">
														<fieldset class="scheduler-border">
															<legend class="scheduler-border">
																<i class="glyphicon glyphicon-screenshot"></i>
																&nbsp;&nbsp;User Key Skill Area
															</legend>
															<div class="col-md-10">
																<small><strong> Please select a maximum
																		of 12 of your most relevant key skill areas. Use the
																		add function for key skills that are not listed.</strong></small>
															</div>
															<label ng-repeat="skill in allSkills"
																class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
																style="padding: 0px;"> <input type="checkbox"
																name="allSkill" ng-click="skillClicked($event,skill,$index)"
																ng-model="skill.isSelected"
																ng-disabled="checked == limit && !skill.isSelected">
																{{skill.skillName}}

															</label>
															<div class="form-group">

																<div class="col-md-9">
																	<div class="col-md-5">
																		<span ng-show="error">Please enter Skill Name</span> <input
																			id="inputName" type="text" id="otherSkill"
																			ng-model="otherSkill" name="otherSkill"
																			placeholder="Other Skill" style="font-size: 12px;"
																			class="form-control">
																	</div>
																	<div class="col-md-4">
																		<button type="submit"
																			ng-click="saveOtherSkill(otherSkill);"
																			class="btn btn-success-custom">Add</button>
																	</div>
																</div>
															</div>

														</fieldset>
													</div>

													<!-- 	<div class="col-md-12 ">
														<hr class="mtxxl mbxxl">
														<div class="col-md-6">
															<label>Employment History </label>
														</div>
													</div> -->
													<div class="col-md-12">
														<fieldset class="scheduler-border">
															<legend class="scheduler-border">
																<i class="glyphicon glyphicon-user"> </i>
																&nbsp;&nbsp;Employment History
															</legend>
															<label class=""><small><strong>Please
																		input all of your relevant employment history.</strong></small> </label> <label
																class=""><small><strong>Not
																		entering a <strong> to date </strong> in the employment history section
																		defualts it to present</strong></small> </label>
															<div class="col-md-12"
																ng-repeat="emp in addNewEmphistory">
																<br />
																<div class="col-md-2">
																	<label for="inputName" class="control-label">Company
																		Name  <code>* </code></label>
																	<div ng-show="empHistory" style="color: red">
																		Please fill at least one Company Details</div>

																	<div class="input-icon right">
																		<input id="inputName" type="text" id="companyName"
																			ng-model="emp.companyName" name="companyName"
																			placeholder="Company Name" style="font-size: 12px;"
																			class="form-control" required>
																	</div>
																</div>


																<div class="col-md-2">
																	<label for="inputName" class="control-label">Position
																		<code>*</code></label>
																	<div class="input-icon right">
																		<input id="position" type="text" name="position"
																			ng-model="emp.position" placeholder="Position"
																			class="form-control" style="font-size: 12px;"
																			required>
																	</div>
																</div>
																<label class="col-md-3 ">Date</label>
																<div class="col-md-6">
																	<div class="input-group input-daterange">
																		<span class="input-group-addon">From <code> * </code></span>
																		
																		<!-- <input class="form-control" validator="[required]"
																			ng-click="initCmpDatePicker();" id="datepicker"
																			ng-model="emp.startdate" style="font-size: 12px;"
																			data-provide="datepicker" data-date-autoclose="true"
																			data-date-format="mm/dd/yyyy" required> -->
																			<select ng-model="emp.startdate"
																		ng-change="onLabourCategoryChange()" class="col-md-5" style="height: 30px;">
																		<option ng-selected="emp.startdate  == m.monthName"
																		ng-repeat="m  in months" >{{m.monthName}}</option>
																		</select>
																		
																		<select ng-model="emp.startYear"
																		ng-change="onLabourCategoryChange()" class="col-md-7" style="height: 30px;">
																		<option ng-selected="emp.startYear  == y.year"
																		ng-repeat="y  in years">{{y.year}}</option>
																		</select>
																			
																			 <span
																			class="input-group-addon">to</span>
																	<!-- 
																		<input class="form-control" validator="[required]"
																			ng-click="initCmpDatePicker();" id="datepicker"
																			ng-model="emp.enddate" style="font-size: 12px;"
																			data-provide="datepicker" data-date-autoclose="true"
																			data-date-format="mm/dd/yyyy"> -->
																			
																		<select ng-model="emp.enddate"
																		ng-change="onLabourCategoryChange()" class="col-md-5" style="height: 30px;">
																		<option ng-selected="emp.enddate  == m.monthName"
																		ng-repeat="m  in months">{{m.monthName}}</option>
																		</select>
																		
																		<select ng-model="emp.endYear"
																		ng-change="onLabourCategoryChange()" class="col-md-7" style="height: 30px;">
																		<option ng-selected="emp.endYear  == y.year"
																		ng-repeat="y  in years">{{y.year}}</option>
																		</select>

																	</div>

																</div>


																<div class="col-md-2">
																	<button class="btn btn-default"
																		ng-click="DeleteAddEmphistory($index)">
																		<i class="fa fa-trash-o"></i>  
																	</button>
																	
																	<button class="btn btn-default" ng-click="opencmpExpInstructionpopups();">
																		<i class="glyphicon glyphicon-question-sign" ></i>
																	</button>
																</div>

																<div class="col-md-12">
																<span class="col-md-8">
																	<label class="">Experience Details</label>
																	<textarea rows="3" name="expdesc"
																		ng-model="emp.expdesc" class="form-control"
																		placeholder="e.g. Experience Description"
																		style="font-size: 12px;"></textarea></span><span style="float:left;margin-top:5%;" >
																		<i class="glyphicon glyphicon-question-sign"
																data-toggle="tooltip" data-placement="bottom"
																title="Click to view the  Instructions " ng-click="onEmpExpInstructions();"></i></span>
																		

																</div>
																<div class="col-md-12">
																	<hr class="">
																</div>
															</div>

															<div class="form-group">
																<div class="col-md-2">
																	<br /> <i class="fa fa-plus-square"> </i> &nbsp;&nbsp;
																	<button ng-click="addNewEmployment()">Add More</button>
																	<span ng-show="addNewEmphistory.length > 0"> </span>
																</div>
															</div>

														</fieldset>
													</div>


												</div>
												
												<div class="col-md-14">
													<fieldset class="scheduler-border">
														<legend class="scheduler-border">
															<i class="glyphicon glyphicon-education"> </i>
															&nbsp;&nbsp; Education History
														</legend>
														<div>
															<small><strong>Please input all of your
																	Education History</strong></small>
														</div>
														<div>
															<small><strong> If No degree please   input NA</strong></small>
														</div>

														<div class="col-md-12" ng-repeat="edu in addEducation">

															<div class="col-md-3">
																<label for="inputName" class="control-label">Institute
																	Name  <code>*</code></label>
																<div class="input-icon right">
																	<input id="instituteName" name="instituteName"
																		type="text" ng-model="edu.instituteName"
																		placeholder="Institute Name" class="form-control"
																		style="font-size: 12px;" required>
																</div>
															</div>


															<div class="col-md-3">
																<label for="inputName" class="control-label">Degree
																	<code>* </code></label>
																<div class="input-icon right">
																	<!-- <input id="degree" name="degree" type="text"
																		ng-model="edu.degree" placeholder="Degree"
																		class="form-control" style="font-size: 12px;" required> -->
																		
																		<select ng-model="edu.degree"
																		ng-change="onLabourCategoryChange()" class="form-control">
																		<option ng-selected="degree.degreeName  == edu.degree"
																		ng-repeat="degree in allDegree.allDegress">{{degree.degreeName}}</option>
																		</select>
																</div>
															</div>


															<label class="col-md-3">Date</label>
															<div class="col-md-4">
																<div class="input-group input-daterange">
																	<span class="input-group-addon">End Date <code>*</code></span>
																	
																	<select name="edu.toDate" ng-model="edu.toDate"
																	class="form-control">
																	<option ng-repeat="y in years"
																		value="{{y.year}}"
																		ng-selected="y.year  == edu.toDate"
																		style="font-size: 12px;" required>{{y.year}}
																	</option>
																</select>
																		
																</div>

															</div>
															<div class="col-md-2">
																<button class="btn btn-default"
																	ng-click="deleteaddEducation($index)">
																	<i class="fa fa-trash-o"></i>
																</button>
																<button class="btn btn-default" ng-click="openeEduinstrauctionPopup();">
																		<i class="glyphicon glyphicon-question-sign" ></i>
																	</button>
															</div>

														</div>
														<div class="form-group">
															<div class="col-md-2">
																<br /> <i class="fa fa-plus-square"> </i> &nbsp;&nbsp;
																<button ng-click="addNewEducation()">Add More</button>
																<span ng-show="addEducation.length > 0"> </span>
															</div>
														</div>
													</fieldset>
												</div>

											
												<div class="col-md-14">
													<fieldset class="scheduler-border">
														<legend class="scheduler-border">
															<i class="glyphicon glyphicon-screenshot"></i>
															&nbsp;&nbsp;Certification
														</legend>

														<div class="form-group">

															<div>
																<small><strong>Please input all of your
																		relevant Certifications</strong></small>
															</div>
															<div class="col-md-12" ng-repeat="cert in addCertificate">

																<div class="col-md-5">
																	<label for="inputName" class="control-label">Certification
																		</label>
																	<!-- <div ng-show="certHistory" style="color: red">
																		Please fill at least one Certfi Details</div>
 -->
																	<div class="input-icon right">
																		<small><input id="certName" name="certName"
																			type="text" placeholder="Certificate"
																			class="form-control" ng-model="cert.certName"
																			style="font-size: 12px;" ></small>
																	</div>
																</div>

																<div class='col-sm-2'>
																	<label class="col-md-12 control-label">Year
																		Obtained</label>

																			<!-- <input type='text' id="certYear"
																				ng-model="cert.certYear" class="form-control"
																				id="certdate" ng-click="initDatePicker();"
																				style="font-size: 12px;" required /> -->
																			<!-- <input class="form-control"
																				ng-click="initDatePicker();" id="datepicker"
																				ng-model="cert.certYear" 
																				style="font-size: 12px;" data-provide="datepicker"
																				data-date-autoclose="true"
																				data-date-format="mm/dd/yyyy"> <span
																				class="input-group-addon"><span
																				class="glyphicon glyphicon-calendar"></span> </span>
																						 -->
																	<select name="cert.certYear" ng-model="cert.certYear"
																	class="form-control">
																	<option ng-repeat="y in years"
																		value="{{y.year}}"
																		ng-selected="cert.certYear == y.year"
																		style="font-size: 12px;" required>{{y.year}}
																	</option>
																</select>

																</div>
																
																<div class="col-md-2" style="margin-top:2.5%;">
																				<button class="btn btn-default"
																					ng-click="deleteAddCertificate($index)">
																					<i class="fa fa-trash-o"></i>
																				</button>
																				<button class="btn btn-default" ng-click="opencertInstructionpopup();">
																					<i class="glyphicon glyphicon-question-sign" ></i>
																				</button>
																			</div>

															</div>
														</div>
														<div class="form-group">
															<div class="col-md-2">
																<br />
																<!-- <a style="float: right; margin-right: 60px;" ng-click="addNewEmployment()"> </i>Add Extra</a> -->
																&nbsp;&nbsp;<i class="fa fa-plus-square"> </i>&nbsp;&nbsp;
																<button ng-click="addNewCertificate()">Add More</button>
																<span ng-show="addEducation.length > 0"> </span>
															</div>
														</div>
													</fieldset>
												</div>
												<div class="col-md-14">
													<fieldset class="scheduler-border">
														<legend class="scheduler-border">
															<i class="glyphicon glyphicon-screenshot"></i>
															&nbsp;&nbsp;Attach Resume
														</legend>
															<div class="form-group">
														<div class="manageGenButton">
															<!-- <label class="col-md-3 control-label"> File:</label> -->
															<div class="col-md-12">
															<div class="col-md-2">
																<input style="margin-top: 5px;"
																	ng-file-select="onFileSelect($files)" name=""
																	type="file" />
															</div>
															<div class="col-md-2"> </div>
															<button type="submit" ng-click="fileUpload()"
															class="btn btn-success-custom">Upload</button>
														</div>
														</div>
													</div>
													<div class="form-group">
													<div class="col-md-10" ng-if="succUpload == true"><span style="color:green;">Resume uploaded successfully</span></div>
												<div class="col-md-10" ng-if="pleasWait == true"><span style="">Please Wait uploading resume......... </span></div>
												
														
														<div class="col-md-12">
														<span><strong>Resume</strong></span>
														</div>
														<div class="col-md-12">
														<a target="_blank" href ="/getuserresume">{{resumefilepath}}</a>												
														</div>	
													</div>
													</fieldset>

						
												
												</div>
												<div class="col-sm-12">
													
													<input type="checkbox" name="emailalert" ng-model="emailalert"
							                         ng-checked="userDetails.emailalert == 'Yes'"    ng-click="ubSubribeFormEmailAlert(userDetails.emailalert);"> Subscribe for the Job  Alert.
													</div>
												<div class='col-sm-12'>
												<!-- 	<div ng-show="userPoserror" ><code>
														Please fill at least one Position/Security/Experience
														level.</code></div> -->
													<label class="col-md-6 control-label"
														ng-show="manaFieldError == true"><code>Please field
															all Mandatory Details(*)</code> </label> <label
														class="col-md-6 control-label" ng-show="updateSuccess"
														style="font-size: 12px; color: green;">Profile
														Updated Successfully! </label>
												</div>

												<div class="form-actions">
													<div class="pull-right">
														<button type="submit" ng-click="submitUserProfile();"
															class="btn btn-success-custom">Save</button>
														&nbsp;
														<!-- <button type="button" class="btn btn-default">Cancel</button> -->
													</div>
												</div>
											</form>
										</div>

									</div>
								</div>
							</div>
						</div>

<!-- Modal -->
<div class="modal fade" id="keySkillInstruction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Skill level Instructions</h4>
      </div>
      <div class="modal-body" style="font-size:11px;">
<strong>      Skill Levels:</strong> 
<table border="1">
<tbody><tr>
<td><strong>Performance Level</strong> </td><td><strong>Required Years Specialized 
Experience </strong></td>
</tr>
<tr>
<td>Subject Matter Expert</td> <td>16+</td> 

</tr>
<tr>
<td>Expert</td><td> 11+</td> 
</tr>
<tr>
<td>Senior</td><td> 6+</td> 
</tr>
<tr>
<td>Full Performance</td> <td>3+</td> 
</tr>
<tr>
<td>Developmental</td><td> <3</td>
</tr>
</tbody> 
</table>
You may also add credit to your years of specific experience per the following guidelines:
<ul>
<li>
 Technical Certification (industry recognized) = +3 months experience
</li>
<li>
 Associate degree in CS, IS, Engineering, Business or related technical discipline = 

+18 months experience
</li>
<li>
 Bachelor’s degree in CS, IS, Engineering, Business or related technical discipline = +3 

years experience
</li>
<li>
 Master’s degree in CS, IS, Engineering, Business or related technical discipline = +2 

years experience plus credit for BS
</li>
<li>
 Doctorate in CS, IS, Engineering, Business or related technical discipline = +2 years 

experience plus credit for BS and MS
</li>
<li>
 General years of experience may be added to specific years of experience at a ratio 

of 3 years general to 1 year specific
</li>
<li> Specific experience is work experience related to the position
</li>
<li>
 Internships do not count towards specific or general work experience
   </li>
   </ul>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
    
    
    <!-- Modal -->
<div class="modal fade" id="empExpInstructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Experience Instructions</h4>
      </div>
      <div class="modal-body" style="font-size:11px;">
       	1]Companies/positions/date ranges correspond between Employment History and Experience<br />
		2]Work experience should have no gaps longer than 1 month. If you were not employed for a period of time, 
		please note that. Ensure that any periods of unemployment longer than 1mo are accounted for (e.g., “Student,” “Leave of Absence,” “Personal,” etc.)<br />
		3]Please only bullet individual project roles.<br />
		4]Date ranges (mm/yyyy) for project roles fall within tenure at company.<br />
		5]No gaps exist between project roles.<br />​
		6]Role descriptions are unclassified (no sensitive/classified program names/organizations are used).
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


<div class="modal fade" id="eduInstructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> Instructions</h4>
      </div>
      <div class="modal-body" style="font-size:11px;">
       <strong>The Education table should include:</strong>
	<ul>
	<li> All degrees are entered along with year of completion</li>

	<li> College degrees and Graduate certificates only (AA/AS and above).</li>

	<li> NOT HS diploma, college coursework, etc.</li>
   </ul>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>




<div class="modal fade" id="certInstructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> Instructions</h4>
      </div>
      <div class="modal-body" style="font-size:11px;">
     <strong>The certifications table should include:</strong>
			<ul>
				<li> Certifications that are position relevant and industry recognized, such as PMP or CISSP.</li>

				<li>Certifications are NOT in­house training.</li>

				<li> Abbreviated certifications are spelled out, e.g., "Project Management Professional (PMP)".</li>
			</ul>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="empworkExperienceInstrcution" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> Instructions</h4>
      </div>
      <div class="modal-body" style="font-size:11px;">
     <strong>In this section, list detailed descriptions for each individual project role you have held.</strong>

		When completing this section, it is essential to keep the following points in mind:
		<ul>
		<li>Follow the format exactly as shown.</li>

		<li> Any lapses in employment of more than 1 month should be addresses (e.g., "Student,"

		"Unemployed," "Leave of Absence," etc.)</li>

		<li>Use the most recent job title for each company.</li>

		<li> Use separate bullet points for each assignment or project. Include: date range, project

			role or job title, and descriptions of responsibilities that are thorough, yet concise.</li>

		<li>Ensure no gaps exist between project roles. Address gaps between projects, such as

		awaiting clearance, proposal support, etc.</li>

		<li> Ensure patterns of short­term employment are addressed (i.e., held job for fewer than 18

			months or held 3 or more jobs in a five year period). This only applies to positions held

			within the past 15 years.</li>

		<li> Written consistently in the first or third person.</li>

		<li> Appropriate verb tense is used­ present tense for you current assignment, past tense for

			previous assignments.</li>

		<li> Spell out the first instance of all abbreviations.</li>
	</ul>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>





						<script type="text/javascript">
							$(document)
									.ready(
											function() {
												jQuery.validator
														.addMethod(
																"lettersonly",
																function(value,
																		element) {
																	return this
																			.optional(element)
																			|| /^[a-z," "]+$/i
																					.test(value);
																},
																"Letters and spaces only please");

												$("#userProfileform")
														.validate(
																{

																	rules : {

																		firstname : {
																			lettersonly : true,
																			required : true
																		},
																		middlename : {
																			lettersonly : true,
																			required : true
																		},
																		lastname : {
																			lettersonly : true,
																			required : true
																		},
																		companyName : {
																			lettersonly : true,
																			required : true
																		},

																		position : {
																			lettersonly : true,
																			required : true
																		},
																		residentcity : {
																			lettersonly : true,
																			required : true
																		},
																		currentjobtitle : {
																			lettersonly : true,
																			required : true
																		},

																		instituteName : {
																			lettersonly : true,
																			required : true
																		},

																		degree : {
																			lettersonly : true,
																			required : true
																		},

																		phnumber : {
																			digits : true,
																			required : true
																		},
																		altphnumber : {
																			digits : true,
																		},
																		zipcode : {
																			digits : true,
																			required : true
																		},

																		desiredsalary : {
																			digits : true,
																			required : true
																		},

																		willingtorelocate : {
																			required : true
																		},

																		residentState : {
																			required : true
																		},

																		jobsearchstatus : {
																			required : true
																		}
																	},
																	messages : {
																		firstname : "Please enter name properly",
																		lastname : "Please enter name properly",
																		middletname : "Please enter name properly",
																		companyName : "Please enter Company Name properly",
																		position : "Please enter Position name properly",
																		email : "Please enter email  properly",
																		instituteName : "Please enter institute name   properly",
																		degree : "Please enter degree   name properly",
																		altemail : "Please enter valid Email Id",
																		phnumber : "Please enter valid Phone  number  ",
																		altphnumber : "Please enter valid Phone  number",
																		residentcity : "Please enter  City name properly",
																		currentjobtitle : "Please Current Job Title properly",
																		zipcode : "Please enter ZipCode properly",
																		desiredsalary : "Please enter desired Salary properly",
																		willingtorelocate : "Please select Willing to relocate ",
																		residentState : "Please select Resident State",
																		jobsearchstatus : "Please select Job Search  Status"

																	}
																});

											});
						</script>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>


