<style>
.Color {
	color: green
}

.redColor {
	color: red
}

.btn-success-custom {
color: white;
background-color: #21205f;
}

.btn-success-custom:hover {
color: white;
background-color: #999999;
}

</style>

<div class="row">
	<div class="col-lg-12">
		<div class="portlet box" style="min-height:500px;">
			<div class="portlet-header">
				<div class="caption">All Clearances</div>
			</div>
			<div class="portlet-body" ng-init="init();">
				<div class="row mbm">
					<div class="col-lg-12">
						<!-- {{jobs}} -->
						<div ng-init="getAllClearance()" class="table-responsive">
							<div class="page-header">
							<!-- 	<h3>
								
								Add/Edit/Delete Clearances  <i class="icon-chevron-right"></i>
								</h3>
								 -->
								
								<div class="pull-left">
 									<button type="button" ng-click="addClearance()" 
										data-toggle="modal" class="btn btn-success-custom" data-toggle="tooltip" data-placement="bottom" title="Add New Clearance">Add</button>
									
								</div>
								<br /><br />
																<table id="table_id"
									class="table table-hover table-striped table-bordered table-advanced tablesorter display">
									<tbody>
										<tr>
											<th>Clearance Name</th>
											<th>Edit</th>
											<th>Delete</th>
											
										</tr>
										<tr data-ng-repeat="clr in allClearance.clearance"
											style="background-color: #fff !important; left: -900">
											<td ng-click="">{{clr.clearance}}</td>
									        <td><button  type="button"
													ng-click="editCleaname(clr.clearance)" data-toggle="modal"  class="btn btn-success-custom"data-toggle="tooltip" data-placement="bottom" title="Edit this Clearance">Edit</button></td>
									
											<td><button  type="button"
													ng-click="deleteCls(clr.clearance)" data-toggle="modal"  class="btn btn-success-custom" data-toggle="tooltip" data-placement="bottom" title="Delete this Clearance">Delete</button></td>
										</tr>
									</tbody>	
								</table>
								<!-- <button id="pre" type="button" ng-click="clickPre()"
									class="btn btn-primary"><i class="glyphicon glyphicon-arrow-left"></i></button>
								&nbsp;
								<button id="next" type="button" ng-click="clickNext()"
									class="btn btn-green"><i class="glyphicon glyphicon-arrow-right"></i></button>
					 -->		</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>

<!-- Modal -->

</div>



<!-- Add Clearance Module -->
<div class="modal fade" id="addClearncemodal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Add New Clearance</h4>
			</div>
			<div class="modal-body"  style="min-height:100px;">
				<div class="form-group">
					<div class="col-md-12">
					<span ng-show="error" style="color:red;">Please enter Clearance Name</span>
						<div class="col-md-6">
							 <input
								id="inputName" type="text" id="clearancename"
								ng-model="clearancename" name="clearancename"
								placeholder="Clearance Name" style="font-size: 12px;"
								class="form-control">
						</div>
						
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success-custom"
				data-ng-click="addNewClearance();">Add</button> 
				<button type="button" class="btn btn-success-custom" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Edit/ Update Clearance Module -->
<div class="modal fade" id="editClearanceModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Edit Position</h4>
			</div>
			<div class="modal-body"  style="min-height:100px;">
				<div class="form-group">

					<div class="col-md-12">
						<span ng-show="editclearanceerror" style="color:red;">Please enter Clearance Name</span>
						<div class="col-md-6">
						 <input
								id="inputName" type="text" id="clearancename"
								ng-model="editClearanceNew" name="clearancename"
								placeholder="Clearance Name" style="font-size: 12px;"
								class="form-control">
						</div>
						
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success-custom"
					data-ng-click="editClearanceName();">Update</button>
				<button type="button" class="btn btn-success-custom" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>


<!-- Delete Clearance Module -->
<div class="modal fade" id="deleteClearance" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Delete Clearance</h4>
			</div>
			<div class="modal-body" id="deleteArticleBody">
				Are you sure want to delete this clearance?
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success-custom"
					data-ng-click="deleteClearance();">Delete</button>
				<button type="button" class="btn btn-success-custom" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>


