
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div id="gmaps" ></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3>Contact</h3>
            <p>If you have any questions or need any assistance please use the form below to contact us.</p>
            <hr/>
           <!--  <h4>Address</h4>
            <address><strong>Loop, Inc.</strong><br/>7275 Crescent Canyon St<br/><abbr title="Phone">P: &nbsp;</abbr>(573)-119-1911</address>
            <address class="mbxl"><strong>Email</strong><br/><a href="mailto:#">example@email.com</a></address>
            <ul class="social-icons list-unstyled list-inline">
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="facebook" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="github" class="github"><i class="fa fa-github"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="google Plus" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="linkedin" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="rss" class="rss"><i class="fa fa-rss"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="skype" class="skype"><i class="fa fa-skype"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="twitter" class="twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="youtube" class="youtube"><i class="fa fa-youtube"></i></a></li>
            </ul> -->
          </div>
          <span ng-show="feedbackSuccess" style="color:green;"> Your feedback is Send !  We will  get back  to you soon!!!</span>
            
          <div class="col-lg-6">
           <!--  <h3>Feedback</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <hr/> -->
            <form >
              <div class="form-group">
                <div class="input-icon"><i class="fa fa-check"></i>
                  <input type="text"  ng-model="contactus.subject"placeholder="Subject" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon"><i class="fa fa-user"></i>
                  <input type="text" placeholder="Name"  ng-model="contactus.name"class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon"><i class="fa fa-envelope"></i>
                  <input type="text" placeholder="Email" ng-model="contactus.email" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <textarea rows="3" placeholder="Content" ng-model="contactus.content" class="form-control"></textarea>
              </div>
              <div class ="pull-right">
              <button type="button"  ng-if="sent == false"class="btn btn-success" ng-click="onfeedBackClicked()">Submit</button>
                <button type="button" ng-if="sent == true" class="btn btn-primary">Sent </button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>