<style>
.Color {
	color: green
}

.redColor {
	color: red
}

.btn-success-custom {
color: white;
background-color: #21205f;
}

.btn-success-custom:hover {
color: white;
background-color: #999999;
}
</style>

<div class="row">
	<div class="col-lg-12">
		<div class="portlet box" style="min-height:500px;">
			<div class="portlet-header">
				<div class="caption">Archive Jobs</div>
			</div>
			<div class="portlet-body" ng-init="init();">
				<div class="row mbm">
					<div class="col-lg-12">
						<!-- {{jobs}} -->
						<div ng-init="getAllArchivedJobs()" class="table-responsive">
							<div class="page-header">
								<!-- <h3>
									Archive Jobs <i class="icon-chevron-right"></i>
								</h3> -->
								<table id="table_id"
									class="table table-hover table-striped table-bordered table-advanced tablesorter display">
									<tbody>
										<tr>
											<th>Email</th>
											<th>Job Id</th>
											<th>Location</th>
											<th>Position Name</th>
											<!-- <th>Download</th> -->
											<th>View Resume</th>
											<th>Delete</th>
											<!-- <th>Archive</th> -->
										</tr>
										<tr data-ng-repeat="archivedJobs in jobs"
											style="background-color: #fff !important; left: -900">
											<td ng-click=""><a href="mailto:{{archivedJobs.username}}">{{archivedJobs.username}}</a></td>
											<td ng-click="">{{archivedJobs.requestNumber}}</td>
											<td ng-click="">{{archivedJobs.location}}</td>
											<td ng-click="">{{archivedJobs.positionName}}</td>
											<!-- <td><div id="download">
	    <a 										class="btn btn-success" href="/generatePDF/{{appliedJobs.id}}" ><button>Download</button></a>
	</div>								</td>
 -->							          <td><button id="genpdf" type="button"
													ng-click="generatePdf(archivedJobs.id)" data-toggle="modal"  class="btn btn-success-custom">View </button></td>
							
								          <td><button id="deleteJob" type="button"
													ng-click="deleteJobById(archivedJobs.id)" data-toggle="modal"  class="btn btn-success-custom">Delete</button></td>
								         <!--  <td><input type="checkbox"   ng-model="archived" ng-click="movetoArchive(appliedJobs.requestNumber);"></td>
								 -->		</tr>
									</tbody>	
								</table>
								<div class="pull-right">
								<button id="pre" type="button" ng-click="clickPre()"
									class="btn btn-success-custom"><i class="glyphicon glyphicon-arrow-left"></i></button>
								&nbsp;
								<button id="next" type="button" ng-click="clickNext()"
									class="btn btn-success-custom"><i class="glyphicon glyphicon-arrow-right"></i></button>
									</div>
									<div style="font-size:12px"><strong>{{JobPre}}/{{totalJobs}}</strong></div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>

<!-- Modal -->
<div class="modal fade" id="viewresume" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Resume Preview</h4>
      </div>
      <div class="modal-body">
					<div id="iframeContainer"
						style="overflow: auto; padding: 10px 0 0 0">
						<iframe id="fred"  src=" "
							height="520" width="100%"> </iframe>
					</div>

				</div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="deleteJobModule" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content" style="width:60%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Delete Job</h4>
			</div>
			<div class="modal-body" id="deleteArticleBody">
				Are you sure want to delete this Job?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success-custom"
					data-ng-click="deleteSelectedJob();">Delete</button>
				<button type="button" class="btn btn-success-custom" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
</div>
