
<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

<div class="row" ng-init="onAllJobsLoad()">
	<div class="col-lg-12">
		<div class="panel" style="min-height: 500px;">
			<div class="panel-body">
				<div id="grid-layout-first-table" class="box jplist">
					<div class="jplist-ios-button">
						<i class="fa fa-sort"></i>jPList Actions
					</div>
					<div class="">

						<div class="col-md-2 control-label">
							<label>Sort By Job Type&nbsp;&nbsp;</label> <select id="jobType"
								name="jobType" ng-model="jobType" class="selectpicker"
								ng-change="getAllJobByType();">
								<option name="jobType" value="Full-Time">Full Time</option>
								<option value="Part-Time">Part Time</option>
								<option value="All">All</option>
							</select>
						</div>
						<div class="col-md-3 control-label">
							Sort by Location<br> <input type="checkbox"
								ng-model="location" ng-change="onLocationClick();"
								name="location">
						</div>


						<div class="col-md-3 control-label">
							Search by Position<br /> <select id="allposition"
								name="position" ng-model="position" class="selectpicker"
								ng-change="getAllJobByPosition();">
								
								<option 
								ng-selected="$index == 3" ng-selected="selected"	ng-repeat="position in allPosition.position">{{position.position}}</option>
							<!-- <option  value="All">All</option> -->
							</select>

						</div>

						<div class="col-md-3 control-label">
							Matched Position<br /> <input type="checkbox"
								ng-model="matchedpos" ng-change="getUserMatchedPosition();"
								name="matchedpos">
						</div>

						<div class="pull-right">
							<button id="pre" type="button" ng-click="clickPre()"
								class="btn btn-primary">Previous</button>
							&nbsp;
							<button id="next" type="button" ng-click="clickNext()"
								class="btn btn-green">Next</button>
						</div>
					</div>
					<div class="box text-shadow">

						<table class="demo-tbl">

							<tr class="tbl-item" data-ng-repeat="job in jobsData">
								<td class="td-block">
									<p class="date">
										<button type="button" class="btn btn-green"
											data-toggle="modal" ng-click="applyForJob(job)">Apply
										</button>
									</p>
									<p>
										<span class="title">{{job.labourCategory}}</span><span
											class="desc"><strong><small>&nbsp;&nbsp;({{job.positionType}})</small></strong></span>
									</p>
									<p class="">
										<strong><small><span><i
													class="glyphicon glyphicon-map-marker"></i>&nbsp;{{job.workLocation}}</span></small></strong>
										<span class="desc"><strong><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
													class="glyphicon glyphicon-user"></i>&nbsp;{{job.requestType}}
											</small></strong></span><span class="desc"><strong><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
													class="glyphicon glyphicon-screenshot"></i>&nbsp;{{job.performanceLevel}}
											</small></strong></span><span class="desc"><strong><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
													class="glyphicon glyphicon-ok"></i>&nbsp;{{job.clearanceRequired}}
											</small></strong></span>
									</p>
									<p class="desc">
										<small ng-bind="job.workDescription | cut:true:200:'   ...'"
											data-placement="bottom"></small><small><span
											popover="{{job.workDescription}}" popover-placement="bottom"><a
												style="color: blue;">&nbsp;&nbsp;more</a> </span></small>
									</p>
									<p class="text-danger">
										<small>Mandatory Skills</small>
									</p>
									<p class="desc">
										<small
											ng-bind="job.manadatorySkills[0] |cut:true:200:'   ...'"
											data-placement="bottom"></small><small><span
											popover="{{job.manadatorySkills}}" popover-placement="bottom"><a
												style="color: blue;">&nbsp;&nbsp;more</a> </span></small>
									</p>
									<p class="text-danger">
										<small>Desired Skills</small>
									</p>
									<p class="desc">
										<small ng-bind="job.desiredSkill[0]  | cut:true:200:'    ...'"
											data-placement="bottom"></small><small><span
											popover="{{job.desiredSkill}}" popover-placement="bottom"><a
												style="color: blue;">&nbsp;&nbsp;more</a> </span></small>
									</p>

								</td>

							</tr>
						</table>
						<div class="pull-right">
							<button id="pre" type="button" ng-click="clickPre()"
								class="btn btn-primary">Previous</button>
							&nbsp;
							<button id="next" type="button" ng-click="clickNext()"
								class="btn btn-green">Next</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Job Application</h4>
				</div>

				<div class="modal-body">
					<!-- <form id="mSkill" name="mSkill" method="post" action="/">
					<div class="form-group" ng-repeat="mskill in mdSkill">
						<div class="form-group">
							<label class="col-sm-12 control-label"> <small>{{mskill}}
							</small></label>
						</div>
						<div class="form-group">
							<div class="col-sm-8">
								<textarea rows="3" name="skillDesc" ng-model="skillDesc"
									class="form-control" placeholder="e.g. Skill Desc"></textarea>
							</div>
						</div>
					</div>
				</form> -->

					<div class="portlet box portlet-green">
						<div class="">
							<div id="rootwizard-custom-circle">
								<div class="">

									<ul>
										<li class="active"><a
											data-target="#tab1-wizard-custom-circle" data-toggle="tab">
												<!-- <i class="glyphicon glyphicon-user"></i> -->
												<p class="anchor">1.Manadatory Skills</p>
										</a></li>
										<!--  <p class="description"></p></a></li> -->
										<li><a data-target="#tab2-wizard-custom-circle"
											data-toggle="tab"> <!-- <i class="glyphicon glyphicon-send mln"></i> -->
												<p class="anchor">2.Desired Skills</p></a></li>
									</ul>

								</div>

								<div class="tab-content">
									<div id="tab1-wizard-custom-circle" class="tab-pane active">
										<div class="form-group" class="active">
											<div class="form-group" ng-repeat="mskill in mdSkill">
												<div class="form-group">
													<label class="col-sm-10 control-label"
														ng-model="manadatorySkills.skillName"> <small
														class="desc">{{mskill}} </small></label>
												</div>
												<div class="form-group">
													<div class="col-sm-8">
														<textarea rows="3" name="comment"
															ng-model="manadatorySkills[$index].comment"
															class="form-control" placeholder="e.g. Skill Desc"></textarea>
													</div>
												</div>
											</div>
										</div>

										<div class="">

											<!--  <button type="button" name="previous" value="Previous"
												class="btn btn-info button-previous"  style="margin-top: 48%;">
												<i class="fa fa-arrow-circle-o-left mrx"></i>Previous
												</button> -->

											<button type="button" name="next" value="Next"
												class="btn btn-info button-next mlm"
												data-target="#tab2-wizard-custom-circle" data-toggle="tab"
												style="margin-top: 48%;">
												Next<i class="fa fa-arrow-circle-o-right mlx"></i>
											</button>

										</div>
									</div>
									<div id="tab2-wizard-custom-circle" class="tab-pane">
										<!-- <h3 class="mbxl">Desired Skills</h3> -->
										<div class="row">
											<div class="col-md-12">
												<div class="form-group" ng-repeat="dskill in dSkills">
													<div class="form-group">
														<div class="form-group"
															ng-model="desiredSkills[$index].dskill">
															<label class="col-sm-12 control-label" value="">
																<small class="desc">{{dskill}} </small>
															</label>
														</div>
														<div class="form-group">
															<div class="col-sm-8">
																<textarea rows="3" name="skillDesc"
																	ng-model="desiredSkills[$index].comment"
																	class="form-control" placeholder="e.g. Skill Desc"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="action text-right">
											<button type="button" name="previous" value="Previous"
												class="btn btn-info button-previous"
												data-target="#tab1-wizard-custom-circle" data-toggle="tab">
												<i class="fa fa-arrow-circle-o-left mrx"></i>Previous
											</button>
											<button type="button" name="next" value="Next"
												class="btn btn-info button-next mlm"
												ng-click="saveUserJob();">
												Submit<i class="fa fa-arrow-circle-o-right mlx"></i>
											</button>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						ng-click="saveUserJob();">Save changes</button>
				</div> -->
			</div>
		</div>
	</div>

</div>
<style type="text/css">
.popover {
	max-width: 600px;
}

.the-legend {
	border-style: none;
	border-width: 0;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
}

.modal .modal-dialog {
	width: 90%;
}

.modal .modal-body {
	max-height: 620px;
	overflow-y: auto;
}
</style>